<% if flash[:danger] %>
	<div class="ui warning message alert alert-danger">
		<%= flash[:danger] %>	
	</div>
<% end %>
<%= form_for :user , url: access_path(@user), method: :post do |f| %>
<p>
 <%= f.label :username %>
   <%= f.text_field :username %><br>
<%= f.label :email %>
   <%= f.text_field :email %></p>
 
  <%= f.submit %>
<% end %>
