<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"
></script>
<%= javascript_include_tag 'application'=%>
<%= csrf_meta_tag %>
<style>
        form { display: inline-block; }
</style>
</head>

<%= form_for :user, url: signup_path do |f| %>
<% if @user.errors.any? %>
	<div id="ui warning message error_generated">
	 <%= pluralize(@user.errors.count, "error") %> occured:
	<ul>
		<% @user.errors.full_messages.each do |m| %>
		 <li><%= m %> </li>
		<% end %>
 	</ul>
	</div><p>
<% end %>

<p>
   <%= f.text_field :username, :placeholder => 'Username' %>
</p>
<p>
   <%= f.password_field :password, :placeholder => 'Password' %>
 <%= f.password_field :password__confirmation, :placeholder => 'Confirm Your Password'%>
</p>
<p>
   <%= f.email_field :email, :placeholder => 'Email'  %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
<%= link_to 'Cancel', controller: 'sign_in', action: 'new', :rel => "modal:close" %>
