<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body id='bodyInd'>
<br/>
<div class="ui teal inverted menu">
<%= link_to 'Home', add_project_index_path, :method => :get, :class => "item" %>
<%= link_to 'Add new', new_add_project_path, :method => :get, :class => "item" %>
<%= link_to 'Logout', logout_path, :method => :delete, :class => "item" %>
<%= link_to 'Groups', my_group_index_path, :method => :get, :class => "item" %>
<%= link_to 'Change Password', forgot_password_path, :method => :get, :class => "item" %>
</div>
<table class="ui teal celled structured table">
<thead>
 <tr>
   <th>ID</th>
   <th>Title</th>
   <th colspan="1">Info</th>
 </tr>
</thead>
 <% @add_proj.each do |proj| %>
 <tr>
  <td><%= proj.id %></td>
  <td><%= proj.title %></td>
  <td><%= button_to add_project_path(proj), :method => :get, :class => "ui button" do%>
	 <i class="info icon"></i><% end %>
  </td>
 </tr>
 <% end %>
</div>
</body>
