<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body id='bodyInd'>
<div class="ui four item menu">
<a class="item">
<%= button_to 'Add new', new_add_project_path, :method => :get, :class => "btn" %>
</a>
<a class="item">
<%= button_to 'Logout', logout_path, :method => :delete, :class => "btn" %>
</a>
<a class="item">
<%= button_to 'Groups', my_group_index_path, :method => :get, :class => "btn" %>
</a>
<a class="item">
<%= button_to 'Change Password', forgot_password_path, :method => :get, :class => "btn" %>
</a>
</div>
<table class="ui celled structured table">
<thead>
 <tr>
   <th>ID</th>
   <th>Title</th>
   <th colspan="1">Info</th>
 </tr>
</thead>
 <% @add_proj.each do |proj| %>
 <tr>
  <td><%= proj.id %></td>
  <td><%= proj.title %></td>
  <td><%= button_to '', add_project_path(proj), :method => :get, :class => "btn_show" %></td>
 </tr>
 <% end %>
</div>
</body>
