<%= link_to 'Home', controller: 'add_project' %> 
<%= form_for :add_project, url: add_project_index_path do |f| %>
 <% if @add_project.errors.any? %>
	<div id="error_generated">
	 <%= pluralize(@add_project.errors.count, "error") %> occured:
	<ul>
		<% @add_project.errors.full_messages.each do |m| %>
		 <li><%= m %> </li>
		<% end %>
 	</ul>
	</div>
 <% end %>
<div class="ui compact segment" style="margin: auto; width: 80%;">
<div class="ui two row grid center aligned">
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'title' %>
      </p>
      </div>
    </div>
  </div>  
  <br/>
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :group_name %>
      <%= f.text_field :group_name, placeholder: 'group name' %>
      </p>
      </div>
    </div>
  </div>  
  <br/>
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :deadline %>
      <%= f.date_select :deadline %>
      </p>
      </div>
    </div>
  </div>  
  <br/>
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :sharing_source_code %>
      <i class="info circle icon link" data-content="Keep this blank if not sharing the source code. Add the complete link including the protocol" data-variation="small">
      </i>
      <%= f.text_area :link, placeholder: 'link' %>
      </p>
      </div>
    </div>
  </div>    
  <br/>
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :information %>
      <%= f.text_area :info,  placeholder: 'information' %>
      </p>
      </div>
    </div>
  </div>
  </br/>  
  <div class="two column row">
    <div class="column">
      <div class="ui input">
      <p>
      <%= f.label :staus %>
      <%= f.select(:status, [['To be started', 0], ['Completed!', 1], ['Going on!', 2], ['Abandoned', 3], ['Failed', 4]]) %>   
      </p>
      </div>
    </div>
  </div>
  </br/>    
  <div class="one column row">
    <div class="column">
      <p>
      <%= f.submit %>
      </p>
    </div>
  </div>
  <% end %>
  Note: We encourage but not put a compulsion on a group being availabe with us. However, if you start a group with the same name, you projects will be synced.
  <%= link_to 'Cancel', controller: 'add_project' %>
</div>
</div>
