<% if flash[:danger] %>
	<div class="alert alert-danger">
		<%= flash[:danger] %>	
	</div>
<% end %>
<%= form_for :group, url: members_path do |f| %>
<% if @group && @group.errors.any? %>
	<div id="error_generated">
	 <%= pluralize(@group.errors.count, "error") %> occured:
	<ul>
		<% @group.errors.full_messages.each do |m| %>
		 <li><%= m %> </li>
		<% end %>
 	</ul>
	</div><p>
<% end %>

<p>
 <%= f.label :group_name %>
   <%= f.text_field :groupname %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
<%= link_to 'Cancel', controller: 'add_project', action: 'index' %>
