<head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body>
<div class="ui teal inverted menu">
<%= link_to 'Home', add_project_index_path, :class => "item" %>
    <%= link_to 'Add new', new_add_project_path, :rel => "modal:open", :class => "item" %>
    <%= link_to 'Logout', logout_path, :method => :delete, :class => "item" %>
    <%= link_to 'Groups', my_group_index_path, :method => :get, :class => "item" %>
    <%= link_to 'Change Password', forgot_password_path, :method => :get, :class => "item" %>
    <%= link_to 'Explore', explore_path, :method => :get, :class => "item" %>
</div>
<div class="ui segment center">
<div class='ui cards'>
 <% @waiting.each do |proj| %>
  <div class="card">
 <div class="content"> 
  <div class="header"><%= link_to proj.user_name, member_path(proj), :method => :get %></div>
	Wants to join this group.
  <% if @isAdmin == true %>
	<div class="extra content">
	<div class="ui two buttons">
	<% if !proj.verified_by_user %>
  <%= link_to 'Confirm', edit_member_path(proj),:rel => "modal:open", :class => "ui basic green button" %>
	<% end %>
  <%= button_to 'Decline', member_path(proj), method: :delete, :data => { :confirm => 'Are you sure?' }, :class => "ui basic red button" %>
	</div></div> 
  <% end %>
  
 <% end %>
</div>
</div>
</body>
